@using SportskiCentar_ASA.Web.Areas.Uposlenik.ViewModels
@model SportskiCentar_ASA.Web.Areas.Uposlenik.ViewModels.ArtikliIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <section class="panel-heading">
                <h2>Spisak artikala</h2>
            </section>
            <section class="panel-body">
                <div class="pull-right">
                    <a asp-action="Dodaj" asp-controller="Shop" class="btn btn-success"><i class="fa fa-plus"></i> Dodaj</a>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <input name="pretragaString" asp-for="pretragaString" class="form-control" placeholder="Unesite naziv artikla ili podkategoriju" />
                        </div>
                        <div class="col-md-2">
                            <button style="width:100px" class="btn btn-primary"><i class="fa fa-search"></i> Pretraga</button>
                        </div>
                    </div>
                </form>
                <br /><br />
                <table class="table table-borderer table-hover">
                    <thead>
                        <tr>
                            <th>@Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NazivSortParm, page = Model.PagingInfo.CurrentPage })</th>
                            <th>@Html.ActionLink("Cijena", "Index", new { sortOrder = ViewBag.CijenaSortParm, page = Model.PagingInfo.CurrentPage })</th>
                            <th>Kolicina</th>
                            <th>Podkategorija</th>
                            <th>Slika</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ArtikliIndexVM.Row i in Model.Rows)
            {
                <tr>
                    <td>@i.Naziv</td>
                    <td>@i.Cijena KM</td>
                    <td>@i.Kolicina</td>
                    <td>@i.Podkategorija</td>
                    <td>
                        @{ if (i.Fajl != null)
                {
                    <img class="img-responsive" src="@Url.Action("ViewImage", "Shop", new { FajlID = i.Fajl.Id })" alt="Nema sliku" />
    }
                        }
                    </td>
                    <td>
                        <a asp-action="Uredi" asp-route-artikalID="@i.ArtikalID" class="btn btn-warning">Uredi</a>
                        <a asp-action="Obrisi" asp-route-artikalID="@i.ArtikalID" class="btn btn-danger">Obrisi</a>
                    </td>
                </tr>
}
                    </tbody>
                </table>
                <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-default"
                     page-class-selected="btn-info" class="btn-group pull-right">
                </div>
            </section>

        </section>
    </section>
</section>