
@using SportskiCentar_ASA.Web.Areas.Administrator.ViewModels;
@model AjaxKorisniciUrediKlijentaVM


<form class="form-inline" id="forma1" action="SnimiKlijenta" method="post">
    <input type="number" value="@Model.id" name="id" hidden />
    <label style="width:10%">Korisničko ime</label><input class="form-control" type="text" value="@Model.username" name="username" required /><br />

    <label style="width:10%">Lozinka</label><input class="form-control" type="password" value="@Model.lozinka" name="lozinka" required /><br />

    <label style="width:10%">Ime</label><input class="form-control" type="text" value="@Model.ime" name="ime" /><br />

    <label style="width:10%">Prezime</label><input class="form-control" type="text" value="@Model.prezime" name="prezime" /><br />

    <label style="width:10%">Spol</label><input class="form-control" type="text" value="@Model.spol" name="spol" /><br />

    <label style="width:10%">JMBG</label><input class="form-control" type="text" value="@Model.jmbg" name="jmbg" /><br />

    <label style="width:10%">Grad</label>

    <select class="form-control" name="grad">
        @foreach (var x in Model.gradovi)
        {
            <option value="@x.Value">@x.Text</option>
        }
    </select><br />
    
</form>

<input id="subbtn" type="submit" class="btn btn-primary" value="Snimi" />

<script>

    $("#subbtn").click(function (event) {

        var form = $("#forma1");

        $.ajax(
            {
                type: "POST",
                url: "/Administrator/AjaxKorisnici/SnimiKlijenta",
                data: form.serialize(),
                success: function (rezultat) {
                    $("#ajaxPoziv").html(rezultat);
                }
            }

        );
    }
    );

</script>